<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>
    <% if (img) { %>
        <img src="<%= img %>" alt="Student Image">
    <% } else { %>
        <h2>Image Not Found</h2>
    <% } %>
</body>
</html>